/* Sidebar items */
.sidebar {
  margin-right: 100px;
}
.sidebarItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
}
.sidebarItem:hover {
  border-radius: 10px;
  background-color: lightgray;
}
.sidebarItem > h4 {
  font-size: 1.25rem;
  margin-left: 20px;
}
.sidebarItem :first-child {
  color: var(--fb);
  font-size: xx-large;
}
